@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); 

body, html {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans';
    
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#title {
    padding-top: 50px;
    margin: 0;
}

#visHolder {
    text-align: center;
    background-color: white;
    height: auto;
    min-height: 340px;
    display: inline-block;
    margin: 50px;
    margin-bottom: 10px;
    margin: 30px;
    padding-left: 0px;
}

.bar {
    fill: blue;
}

.bar:hover {
    fill: gray;
}

#x-axis {
   transform: translate(0, 320px);
   z-index: 10;
}

#y-axis {
    transform: translate(40px, 0);
    z-index:10;
}

.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 120px;					
    height: auto;					
    padding: 2px;				
    font-size: 12px;	
    background: lavender;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

a {
    color: darkgoldenrod;
    text-decoration: none;
}

#legend {
    font-size: 16px;
}

svg {
    transform: scale(0.9);
}

p {
    margin: 4px;
}