@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); 

body, html {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans';
    text-align: center;
    
}

#title {
    padding-top: 25px;
    padding: 8px;
    margin-bottom: 0;
}

h3 {
    margin: 0;
}

#root {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: whitesmoke;
}

#visHolder {
    text-align: center;
    background-color: white;
    width: auto;
    min-height: 530px;
    display: inline-block;
    justify-content: center;
    margin: 50px;
}

svg {
    margin-top: 10px;
}

#x-axis {
    transform: translate(0, 430px);
    z-index: 10;
 }

#y-axis {
    transform: translate(70px, 0);
    z-index: 10;
 }