@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); 

body, html {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans';
    
}

#title {
    padding-top: 25px;
    padding: 8px;
    margin-bottom: 0;
}

h3 {
    margin: 0;
    margin-bottom: 15px;
}

#root {
    min-height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#visHolder {
    background-color: white;
    min-height: 330px;
    margin-bottom: 10px;
    margin: 30px;
    width: fit-content;
    margin: auto;
}


#x-axis {
    transform: translate(0, 300px);
    z-index: 10;
 }
 
 #y-axis {
     transform: translate(40px, 0);
     z-index: 10;
 }

 .tooltip {	
    position: absolute;			
    text-align: center;			
    width: 160px;					
    height: auto;					
    padding: 2px;				
    font-size: 12px;	
    background: lavender;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.legend-item {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: goldenrod;
}

#legend {
    font-size: 16px;
}

#axis-text {
    font-size: 16px;
}

svg {
    margin-top: 10px;
    transform: scale(0.9);
}

p {
    margin: 4px;
}

#subtitle {
    margin-top: 20px;
}

#main-link {
    position: absolute;
    color: 30px;
    top: 20px;
    left: 20px;
    font-size: 30px;
}