@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #__nuxt {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans';
    min-height: 100vh;
    
}

#title {
    padding-top: 25px;
    padding: 8px;
    margin-bottom: 0;
}

h3 {
    margin: 0;
    margin-bottom: 15px;
}

#root {
    min-height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 36px;
    font-weight: bold;
}

#subtitle {
    font-size: 18px;
}